{% extends 'views/layout.twig' %}

{% block title %}
<title>{{ record.title }}</title>
{% endblock title %}

{% block description %}
{% if record.teaser is defined %}
<meta name="description" content="{{ record.teaser }}">
{% endif %}
{% endblock description %}

{% block header %}
{% if record.image %}
<header style="background-image: url('/files/{{ record.image }}')">
  {{ menu('main', 'views/menus/everywhere.twig') }}
</header>
{% else %}
  {{ menu('main', 'views/menus/everywhere.twig') }}
{% endif %}
{% endblock header %}

{% block body %}
<div class="container" id="article">
  {% include 'views/partials/article.twig' %}
</div>
{% endblock body %}
