<div class="row">
  <h1 class="col-sm-10">{{ record.title }}</h1>
  <div class="pull-right col-sm-2 date">{{ record.datepublish | date("jS F Y") }}</div>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">
      Home
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="/{{ record.contenttype.slug }}">{{ record.contenttype.name }}</a>
  </li>
  <li class="breadcrumb-item active">
    {{ record.title }}
  </li>
</ol>
<div class="body">
  {{ record.teaser | markdown }}
  {{ record.body | markdown }}
</div>
