<section id="team">
  <div class="chevron">
  </div>
  <div class="container">
    <h1>Team</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <img src="{{paths.theme}}images/pierre.jpg" />
          <h2>Pierre</h2>
          <p>
            Founder &amp; CEO
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <img src="{{paths.theme}}images/unknown.png" />
          <h2>Kasun</h2>
          <p>
            Software architect
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <img src="{{paths.theme}}images/akila.jpg" />
          <h2>Akila</h2>
          <p>
            Geolocation expert
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <img src="{{paths.theme}}images/unknown.png" />
          <h2>Ishara</h2>
          <p>
            Consultant
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <img src="{{paths.theme}}images/unknown.png" />
          <h2>Valentin</h2>
          <p>
            Pixel trainer
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
